:root{
  --maple: "m-90 2030 45-863a95 95 0 0 0-111-98l-859 151 116-320a65 65 0 0 0-20-73l-941-762 212-99a65 65 0 0 0 34-79l-186-572 542 115a65 65 0 0 0 73-38l105-247 423 454a65 65 0 0 0 111-57l-204-1052 327 189a65 65 0 0 0 91-27l332-652 332 652a65 65 0 0 0 91 27l327-189-204 1052a65 65 0 0 0 111 57l423-454 105 247a65 65 0 0 0 73 38l542-115-186 572a65 65 0 0 0 34 79l212 99-941 762a65 65 0 0 0-20 73l116 320-859-151a95 95 0 0 0-111 98l45 863z";
}
.topnav {
  background-color: rgba(255, 255, 255, 0.90);
  border: 2px;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a.right {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: white;
  color: black;
}
.topnav a.active {
  background: linear-gradient(180deg, rgba(194,40,255,1) 0%, rgba(255,155,215,1) 100%);
  color: white;
}

body {
    margin: 0;
    font-family: rubik,helvetica,arial,sans-serif;
    font-size: 13px;
    background-image: url("../Images/Backgrounds/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
div.MainArea {
    background: rgba(255, 255, 255, 0.90);
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

div.MainTitle {
    background: rgba(255, 255, 255, 0.90);
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    /* border-radius */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.button {
  background-color: #751c81; /* Green */
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.90);
  padding: 15px 20px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button.MainButton {
  background-color: rgba(255, 255, 255, 0.90); 
  color: black; 
  border: 1px solid #751c81;
}

button.predef {
  background-color: rgba(255, 255, 255, 0.90); 
  color: black; 
  border: 1px solid #c4c4c4;
}

button.MainButton:hover {
  background: linear-gradient(180deg, rgba(194,40,255,1) 0%, rgba(255,155,215,1) 100%);
  color: white;
}

button.predef:hover {
  background: linear-gradient(180deg, rgba(194,40,255,1) 0%, rgba(255,155,215,1) 100%);
  color: white;
}



td.promos {
  border: black solid 1px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

table.tr{
  margin-bottom:1em;
  border-collapse: collapse;
  color:#3A3A3A;
  background-color:#E9DFE9;
  border: 1px solid #C6BFC6;
  padding: 0.2em 0.4em;
}

th.tr{
  font-weight:bold;
  padding:5px;
  background-color:#E9DFE9;
  border: 1px solid #C6BFC6;
  font-size: 16px;
  width: 75px;
}

th,
td.tr{
  padding:0.5em;
  border: 1px solid #C6BFC6;
  background-color:#F5EBF5;
  font-size: 15px;
  text-align: center;
}

td.trq{
  padding:0.5em;
  border: 1px solid #C6BFC6;
  background-color:#F5EBF5;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

select {
  width: 50%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background: linear-gradient(180deg, rgba(194,40,255,1) 0%, rgba(255,155,215,1) 100%);
  border: none;
  border-bottom: 2px solid #DCDCDC;
  color: white;
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none; 
}

select:hover,
select:focus {
  color: black;
  background: linear-gradient(180deg, rgba(194,40,255,1) 0%, rgba(255,155,215,1) 100%);
  border-bottom-color: #DCDCDC;
}



